 <div class="user-details">
  <h1>About Me</h1>
  <div class="selfie">
    <img alt="selfie" src="{{"/assets/img/selfie.jpg" | prepend: site.baseurl}}" />
  </div>
  <div class="selfie-right">
    <p>I'm Weishuai Zeng, a final-year undergraduate majoring in Artificial Intelligence at EECS, Peking University. My research is centered on building a general-purpose humanoid robots for open-world environments, with particular emphasis on specific issues including Hierarchical Planning and Control, Perception and Recognition, Scene and Object Interaction and Cross-embodiment Learning. Recently, I have been intrigued by the idea of establishing a unified abstraction for diverse forms of humanoid control, with the long-term vision of achieving a "GPT moment" for humanoid robots.</p>
    
    <p>Currently, I am working with Dr. Jingbo Wang and Dr.Jiangmiao Pang at InternRobotics, Shanghai Artificial Intelligence Laboratory. Previously, I interned at the Beijing Academy of Artificial Intelligence (BAAI) where I had the opportunity to explore domains such as Large Foundation Models, Embodied Agents, Animation and Virtual Characters. These experiences serve as foundation to support my passion on humanoid robots, which I deeply appreciate.</p>

    <p>I welcome discussions and collaborations on any of the topics mentioned above, as I firmly believe that collaboration brings real science.</p>

    <p><span class="highlight-red">I am applying for a PhD position in 2026 Fall.</span> Please drop me an email if you are interested in anything about me.</p>
  </div>
</div>


