<div id="particles-js">
  <div class="header-links">
    <a class="link" href="#about" data-scroll>About Me</a>
    <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
        <span class="static-text">Interested in Humanoid Robot </span>
        <span class="dynamic-text"></span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Github"  href=https://github.com/zengweishuai><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Twitter"  href="https://x.com/weishuaizeng"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:weishuai107@gmail.com"><i class="icon fa fa-envelope"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<script>
    const text = document.querySelector('.dynamic-text');
    const txt  =["Whole Body Control","Scene/Object Interaction","Cross Embodiement", "Zero-shot Sim2Real"]; 
    var index=0;
    var xiaBiao= 0;
    var huan = true;

    setInterval(function(){
        if(huan){             
            text.innerHTML = txt[xiaBiao].slice(0,++index);
        }
        else{
            text.innerHTML = txt[xiaBiao].slice(0,index--);
        }
        if(index==txt[xiaBiao].length+3)
        {
            huan = false;
        }
        else if(index<0)
        {   
            index = 0;
            huan = true;
            xiaBiao++;
            if(xiaBiao>=txt.length)
            {   
                xiaBiao=0; 
            }
        }

    },50)

</script

