<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Preload critical fonts -->
  <link rel="preload" href="{{ '/assets/fonts/fontawesome-webfont.woff2' | prepend: site.baseurl }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/devicon.woff' | prepend: site.baseurl }}" as="font" type="font/woff" crossorigin>
  
  <!-- Load FontAwesome from CDN for better reliability -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  
  <!-- Preload critical images -->
  <link rel="preload" href="{{ '/assets/img/selfie.jpg' | prepend: site.baseurl }}" as="image">
</head>
